<div id='cssmenu'>
  <ul>
    <li><a><%= content_for?(:title) ? yield(:title) : 'Test Application' %></a></li>
    <li class='active'><%= link_to 'Products', products_path %>
<!--      <ul>-->
<!--        <li><a href='#'>Product 1</a>-->
<!--          <ul>-->
<!--            <li><a href='#'>Sub Product</a></li>-->
<!--            <li><a href='#'>Sub Product</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li><a href='#'>Product 2</a>-->
<!--          <ul>-->
<!--            <li><a href='#'>Sub Product</a></li>-->
<!--            <li><a href='#'>Sub Product</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->
    </li>
    <li><%= link_to 'Deeds', deeds_path %></li>
    <li><a href='#'>Contact</a></li>
  </ul>
</div>